@using ONLINETICARIOTOMASYON.Models.Sınıflarım
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdmınLayout.cshtml";
}

</br>
</br>
<h2 style="color:blue" class="text-center"><b>💻 Kargo Listesi</b> </h2>
<br />
<br />








<table id="example" class="display" style="width:100%">
    <thead>
        <tr style="background-color:darkslategrey;color:white">
            <th>Personel</th>

            <th>Alıcı</th>
            <th>Tarih</th>
            <th>Detaylar</th>
            
        </tr>
    </thead>

    <tbody>
        @foreach (var u in Model)
        {

            <tr>


                <td> <b>✨ @u.Personel</b></td>
                <td>@u.Alici</td>
                <td>@u.Tarih</td>
           



               


                <td>
                    <a href="/Kargo/KargoTakip/@u.TakipKodu" style="font-size:14px;" class="badge btn-danger" >Kargo Detayları</a>

                </td>


            
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <th>Personel</th>

            <th>Alıcı</th>
            <th>Tarih</th>
            <th>Detaylar</th>

        </tr>
    </tfoot>
</table>

<a href="/Kargo/YeniKargo/" class="btn btn-info" id="Btn1">+ Yeni Kargo Girişi</a>
