@model ONLINETICARIOTOMASYON.Models.Sınıflarım.Carıler
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}

<br />

<h2 style="color:blue">Online Ticari Otomasyon Cari Bilgi Paneli</h2>
<br />
@using (Html.BeginForm("index2", "CariPanel", FormMethod.Post))

{
<table class="table table-primary">

    <tr>

        <td>
            <label class="btn btn-success"> Mail Adresi:@HttpContext.Current.User.Identity.Name</label>

        </td>


    <tr>




        <td>@Html.TextBoxFor(x => x.CarıAd, new { @class = "form-control",style="max-width:50%" })</td>



    </tr>


    <tr>




        <td>@Html.TextBoxFor(x => x.CarıSoyad, new { @class = "form-control", style = "max-width:50%" })</td>



    </tr>
    <tr>




        <td>@Html.TextBoxFor(x => x.CarıSehır, new { @class = "form-control", style = "max-width:50%" })</td>



    </tr>
    <tr>




        <td>@Html.TextBoxFor(x => x.CarıSıfre, new { @class = "form-control", style = "max-width:50%" })</td>



    </tr>
   


</table>
<button  class="btn btn-warning">Bilgilerimi güncelle</button>


}
